{
  "pid": "com.tibco.bw.stat.appnode.a360ac45-bcf7-437d-9ed0-b9bd126018af",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.a360ac45-bcf7-437d-9ed0-b9bd126018af",
      "type": "java.lang.String"
    }
  }
}